In [1]:
import pandas as pd
import numpy as np

### Australia postcodes

In [2]:
geo_columns = ['postcode', 'locality', 'state', 'long', 'lat',  
                    'SA2_MAINCODE_2016', 'SA2_NAME_2016', 'lgaregion'] 


postcodes = pd.read_csv('../data/raw/australian_postcodes.csv', usecols = geo_columns)
postcodes = postcodes[postcodes['state'] == 'VIC'].reset_index(drop = True)

postcodes.to_csv('../data/curated/victoria_postcodes.csv')

postcodes.head()

,postcode,locality,state,long,lat,SA2_MAINCODE_2016,SA2_NAME_2016,lgaregion
0,3000,MELBOURNE,VIC,144.956776,-37.817403,206041122.0,Melbourne,Melbourne
1,3001,MELBOURNE,VIC,144.956776,-37.817403,206041122.0,Melbourne,Moonee Valley
2,3002,EAST MELBOURNE,VIC,144.982207,-37.818517,206041119.0,East Melbourne,Yarra
3,3003,WEST MELBOURNE,VIC,144.949592,-37.810871,206041127.0,West Melbourne,Melbourne
4,3004,MELBOURNE,VIC,144.970161,-37.844246,206041126.0,Southbank,Yarra

### Sporting facilities

In [3]:
sporting_facilites_attrs = ['Facility Name', 'Facility Name', 'Sports Played', 'Latitude', 
                    'Longitude', 'LGA Name', 'Pcode', 'Suburb/Town']

sporting_facilities = pd.read_excel('../data/raw/srv_ifmd_all-facilities.xlsx', 
                                    usecols = sporting_facilites_attrs)

sporting_facilities = sporting_facilities.dropna(axis=0, how = 'any')
sporting_facilities['Pcode'] = sporting_facilities['Pcode'].apply(int)
sporting_facilities['Suburb/Town'] = sporting_facilities['Suburb/Town'].str.title()

sporting_facilities.to_csv('../data/curated/VIC_SPORTING_FACILITIES.csv')

sporting_facilities.head(5)

,LGA Name,Facility Name,Suburb/Town,Pcode,Latitude,Longitude,Sports Played
6,Alpine Shire Council,Mount Beauty Pool & Stadium,Mount Beauty,3699,-36.740988,147.168502,Aerobics
7,Alpine Shire Council,Mount Beauty recreation Reserve,Mount Beauty,3699,-36.739256,147.172162,Athletics
8,Alpine Shire Council,Dederang Recreation reserve,Dederang,3691,-36.475264,147.020525,Australian Rules Football
9,Alpine Shire Council,Mount Beauty recreation Reserve,Mount Beauty,3699,-36.739256,147.172162,Australian Rules Football
10,Alpine Shire Council,Pioneer Park Recreation Reserve,Bright,3741,-36.737199,146.973353,Australian Rules Football

### LGA PROFILE - The one with a bunch of useful stuff

In [4]:
retained_columns = ['lga_name', 'lga_code', 'distance_to_melbourne_km','travel_time_to_melbourne_minutes', 
                    'commercial_land_use_perc','industrial_land_use_perc', 'actual_ann_pop_chg_perc_2004_2014', 
                    'proj_ann_pop_chg_2014_2024_rank', 'ppl_born_overseas_perc', 
                    'new_settler_arrivals_per_100000_pop', 'ppl_who_feel_safe_on_streets_alone_perc',
                    'unemployment_rate_perc','median_household_income_aud', 'households_with_mortgage_stress_perc',  
                    'rental_housing_that_is_affordable_perc','homeless_ppl_est_per_1000_pop', 
                    'ppl_who_completed_a_higher_edu_qual_perc']
                    

LGA_profile = pd.read_csv('../data/raw/datasource-VIC_Govt_DHHS-UoM_AURIN_DB_vic_govt_dhhs_lga_profiles_2015.csv',
                          usecols = retained_columns)

LGA_profile.to_csv('../data/curated/Useful_LGA_Attributes.csv')

LGA_profile.head()

,lga_name,lga_code,distance_to_melbourne_km,travel_time_to_melbourne_minutes,commercial_land_use_perc,industrial_land_use_perc,actual_ann_pop_chg_perc_2004_2014,proj_ann_pop_chg_2014_2024_rank,ppl_born_overseas_perc,new_settler_arrivals_per_100000_pop,ppl_who_feel_safe_on_streets_alone_perc,unemployment_rate_perc,median_household_income_aud,households_with_mortgage_stress_perc,rental_housing_that_is_affordable_perc,homeless_ppl_est_per_1000_pop,ppl_who_completed_a_higher_edu_qual_perc
0,Alpine (S),20110,286,201,0.0,0.0,-0.3,68,15.7,49.9,81.2,4.4,829,14.9,69.6,3.5,29.7
1,Ararat (RC),20260,200,143,0.0,0.0,-0.3,61,9.2,62.6,72.1,6.8,844,11.0,86.4,2.5,26.8
2,Ballarat (C),20570,115,76,0.3,1.4,1.7,16,9.1,154.6,59.1,5.4,988,10.2,67.9,4.1,38.1
3,Banyule (C),20660,23,25,1.1,2.1,0.7,48,23.1,355.4,71.1,4.8,1394,7.6,4.4,3.7,52.8
4,Bass Coast (S),20740,130,111,0.1,0.1,1.8,11,15.8,107.5,69.7,6.2,855,15.4,71.2,1.8,28.1

### Rent By Suburb

In [5]:
median_rents = pd.read_excel('../data/raw/Moving annual rent by suburb - September quarter 2021.xlsx', 'All Properties') 

median_rents = median_rents[median_rents['Value Type'] == 'Median'].reset_index(drop = True) 
median_rents.drop('Value Type', axis = 1, inplace = True)

median_rents = median_rents.rename(columns={'Value': 'Median'})

median_rents['Median'].replace('-', np.NaN, inplace = True)
median_rents = median_rents.dropna(how = 'any')

median_rents['Year'] = median_rents['Quarter'].str[4:8].apply(int)
median_rents['Quarter'] = median_rents['Quarter'].str[0:3]

median_rents['Quarter'].replace({'Mar': 1, 'Jun': 2, 'Sep' : 3, 'Dec' : 4}, inplace = True)
median_rents = median_rents[['Year', 'Quarter', 'Region', 'Suburb', 'Median']]

median_rents.to_csv('../data/curated/Monthly_Median_Suburb_Rents.csv')

median_rents.head()

,Year,Quarter,Region,Suburb,Median
0,2000,1,Inner Melbourne,Albert Park-Middle Park-West St Kilda,260.0
1,2000,1,Inner Melbourne,Armadale,200.0
2,2000,1,Inner Melbourne,Carlton North,260.0
3,2000,1,Inner Melbourne,Carlton-Parkville,260.0
4,2000,1,Inner Melbourne,CBD-St Kilda Rd,320.0